

.box_avatar {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2_avatar {
	/* padding: 0.5em; */
	width: 160px;
}

/* .options label,
.options input{
	width:4em;
	padding:0.5em 1em;
} */
.btn{
	background:white;
	color:black;
	border:1px solid black;
	/* padding: 0.5em 1em; */
	text-decoration:none;
	margin-top:0.8em;
	display:inline-block;
	cursor:pointer;
}

.hide_avatar {
	display: none;
}

.img-avatar {
	min-width: 160px;
	max-width: 160px;
}

.cropped_avatar {
	min-width: 160px;
	max-width: 160px;
}